body {
    background-color: #B1C0E6;
    overflow :scroll
    width: 2000px;
    padding-bottom: 50px;

}
.containerm{
    height: 500px;
}

.header {
    background-image: url("../images/TagIt.png");
    background-image: url("../images/fly.png");
    background-color: #B1C0E6;
    background-position: left;
    background-repeat: no-repeat;
    height: 200px;
}

.formBody {
    padding-top: 40px;
}
.background {
    /*background-image: url("../images/background.jpg");*/
    background-color: #9078B3;
    background-position: center;
    background-repeat: repeat;
}
.navbar-inverse{
    background-color: #9C99CC;
    background-image: none;
    border-color: #9C99CC;
}
.navbar-fixed-bottom{
    background-color: #75548C;
    background-image: none;
    border-color: #75548C ;


}
/*.footer{
    background-color: #75548C;
    *//*width: 1903px;*//*
    height: 52px;
}*/
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #75548C;
}
.link {
    color: black;
    text-decoration: underline;
}
.resultLink {
    color: black;
    text-decoration: underline;
    font-weight: normal;
}
a.resultLink:hover {
    color: white;
}
a.link:hover {
    color: #75548C;
}
.bookmarkletLinkt{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: underline;
}
.table-bordered{
    border-color: #B1C0E6;

}
.text-danger{
    font-size: 24px;
}
.homeText1{
    font-family: 'IM Fell DW Pica', serif;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
.subText{
    font-family: 'IM Fell DW Pica', serif;
    text-align: center;
    font-size: 35px;
    color: black;
    font-weight: bold;
}
.homeText{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    /*text-shadow: 4px 4px 4px #aaa;*/
    /*font-weight: bold;;*/
}
.easySteps{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    /*text-shadow: 4px 4px 4px #aaa;*/
    /*font-weight: bold;;*/
}
.homeimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;
}
.bookmarkletText{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    color: black;
    font-weight: normal;
    /*align-content: center;*/
}

.btn-default{

}
.subText1{
    color: black;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 20px;
}
.faqbold{
    font-weight: bold;
}
.mainp {
    margin: 0 0 0 0;
}
.welcome {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    color: black;
    font-weight: normal;
}
.guidelines{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
}
.welcomtagit{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
}
.hellotagit{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
}

.searchResults {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: black;
    font-weight: normal;
}