@(page: String, isLoggedIn: Boolean, userInfo: UserInfo)

@import helper._

@Main(page, isLoggedIn, userInfo) {
    <div class="container">
    @form(routes.Application.enterUrlTest(), 'class -> "form-horizontal formBody") {
        @if(isLoggedIn) {
            <h1>Successfully added</h1>
           @* <input type="button" onclick="parent.document.body.removeChild(parent.document.getElementById('Taggit_bookmarklet_iframe'));" value="Close Window"/>*@
           @* <a href="javascript:window.close()">dd</a>*@
        }
    }
    </div>
}