@(page: String, isLoggedIn: Boolean, userInfo: UserInfo)

@import helper._

@Main(page, isLoggedIn, userInfo) {
    <div class="container">
        <script type="text/javascript" src="@routes.Application.jsRoutes"></script>
        @*<script>*@
       @*{myscript=document.createElement('SCRIPT');
        myscript.type='text/javascript';
        myscript.src='http://applegator.net/script.js';
        document.getElementsByTagName('head')[0].appendChild(myscript);}*@


        @*(function(){
        var s = document.createElement('script');
        s.src = 'http://bookmarklet-720pify.heroku.com/js/720pify.js';
        document.body.appendChild(s);
        })();
        </script>

        <a href="javascript(function(){
	var%20script=document.createElement('script');
	script.type='text/javascript';
	script.src='http://github.com/anupriaa/Taggit/blob/milestone-3-bookmarklet-2/public/javascripts/main.js';
	document.getElementsByTagName('head')[0].appendChild(script);
})();">720pify</a>*@


            @*<a href = "javascript:(function(){s=document.createElement('script');s.type='text/javascript';s.src='https://raw.githubusercontent.com/anupriaa/Taggit/milestone-3-bookmarklet-2/public/javascripts/main.js';document.body.appendChild(s);})();">bookmarklet</a>*@

        @*<a href="javascript:(function(){var%20u='http://localhost:9000/EnterUrl?url='+escape(document.location.href);var%20a=function(){if(!window.open(u))location.href=u;};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})();">book</a>*@

            @if(isLoggedIn) {
                <h1>Successfully added</h1>
            }
            else {
            <h1>Please log in </h1>
            }
    </div>
}