@(message: String)

@import helper._

@Main("EnterUrl") {
    <div class="container">
        @form(routes.Application.enterUrl(), 'class -> "form-horizontal formBody") {
                <!-- url -->
            <div class="form-group">
                <label class="col-sm-3 control-label">Enter Url</label>
                <div class="col-sm-7">
                        <input type="text" class="form-control"
                        name ="url"
                        id="url"
                        placeholder="Please enter the URL.">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button id="submit" type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        }
    </div>
}