@(page: String, isLoggedIn: Boolean, userInfo: UserInfo)

@Main(page, isLoggedIn, userInfo) {
    <div class="container">
         <div>
          <h1 class="faqbold">Getting Started</h1>
         </div>
        <br/><br/>
        <div>
            <h2 class="faqbold">How to save to Taggit?</h2>
            <h3>Saving to Taggit is super simple. Just Add the bookmarklet to your browser and click it each time you want to save a web page. Once saved you can access it through the application.</h3>
        </div>
        <br/><br/>
        <div>
            <h2 class="faqbold">Where can the bookmarklet be found?</h2>
            <h3>The bookmarklet is available under 'Add Bookmarklet' tab. Once logged in, this tab is available.</h3>
        </div>
        <br/><br/>
        <div>
            <h2 class="faqbold">What can be saved on Taggit?</h2>
            <h3>As of now just urls can be saved, either manually or through the bookmarklet.</h3>
        </div>
        <br/><br/>
        <div>
            <h2 class="faqbold">How can the saved data be accessed?</h2>
            <h3>The saved data is available on the web application. Once the user signs in, the application takes the user straight to search page.The user can search using keywords.</h3>
        </div>
        <br/><br/>
        <div>
            <h2 class="faqbold">The user has to remember the keywords?</h2>
            <h3>No. The user does not even enter the keyword. Taggit does all of it for the user. The user can search with words associated with the web page and taggit will find it.</h3>
        </div>

    </div>
}





