@(page: String, isLoggedIn: Boolean, userInfo: UserInfo)

@import helper._

@Main(page, isLoggedIn, userInfo) {
    <div class="container">
       <h1>HOME PAGE</h1>
        <a href='javascript:(
   function() {
      try {
         jsRemoteSidebar.toggle();
      } catch (err) {
         var s=document.createElement("script");
             s.src="http://rawgit.com/anupriaa/Taggit/milestone-3-bookmarklet-2/public/javascripts/bookmarklet.js";
         document.body.appendChild(s);
      }
   })();'>Book</a>

    </div>
}