@(page: String, isLoggedIn: Boolean, userInfo: UserInfo)

@Main(page, isLoggedIn, userInfo) {
    <div class="container">
     <div>
      @*<h1 class="homeText1">Taggit</h1>*@
        <img class="homeimg" src="@routes.Assets.at("images/TagIt.png")">
      <p class="subText">Life is complicated, simplify it with Taggit.</p>
     </div>
       <br/>
     <div>
      <h3 class="homeText "><p>Taggit attempts to help you unclutter your mind and your life by letting you organize and catalog your day to day experiences in a searchable, sortable and manageable online medium.</p>
       <p>Whether it is a website you like or thoughts rambling through your head, once you link them with Taggit, it will automatically parse, tag and contextualized that snippet of your life for future retrieval whenever you feel an itch in your brain to reminisce about a thought you can't fully recall.</p></h3>

        <br/><br/>
        </div>
       <div class="subText">
        <p class="subText1">Start organizing with Taggit.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-default" href="http://localhost:9000/signup" role="button">Sign Up with email</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It's totally free.</p>
        <p class="subText1">Already have an account? <a class="link" href="http://localhost:9000/login">Log in now</a></p>
          </div>

     </div>
}





