@(page: String, isLoggedIn: Boolean, userInfo: UserInfo,contactForm: Form[views.formdata.SearchFormData],
        urlInfo : List[UrlInfo])

@import helper._
@import views.html.bootstrap3._

@Main(page, isLoggedIn, userInfo) {
    <div class="container">
        @form(routes.Application.searchResult(), 'class -> "form-horizontal formBody") {
                <!-- Hidden userID Field. -->
            @hidden(contactForm("Id"))
                <!-- Hidden UserId Field -->
            <input type="hidden"
            name="UserId"
            id="digitsUserId"
            value="@userInfo.getId()">
                <!-- url -->
            <div class="form-group">
                <label class="col-sm-3 control-label">Search</label>
                <div class="col-sm-7">
                        <input type="text" class="form-control"
                        name ="queryData"
                        id="queryData"
                        placeholder="Please enter keyword to search.">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button id="submit" type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        }
        @if(! urlInfo.isEmpty) {
            <h1>Results</h1>
            <table class="table table-striped table-bordered">
            @for(urlInfo <- urlInfo) {
                <tr>
                    <td><a class= "link" href="@urlInfo.getUrl" target="_blank">@urlInfo.getUrl()</a></td>
                </tr>
            }
            </table>
        }
    </div>
}