@(page: String, isLoggedIn: Boolean, userInfo: UserInfo,contactForm: Form[views.formdata.SearchFormData],
        urlInfo : List[UrlInfo], isSearchResult: Boolean, noEntryForUser: Boolean )

@import views.html.bootstrap3._
@import views.html.helper._

@Main(page, isLoggedIn, userInfo) {
    <div class="container">
        @*<img class="homeimg" src="@routes.Assets.at("images/Taggit_wordcloud.png")">*@
        <img class="img-responsive homeimg" src="@routes.Application.getImage()"
        alt="Keyword Cloud"/>
        @if(noEntryForUser) {
            <div class="row welcome">
                <br/>
                <div class="col-md-11 col-md-offset-1">
                    <p>@userInfo.getFirstName, you have not added any entries yet.</p>
                </div>
                <div class="col-md-11 col-md-offset-1">
                    <p>Get started now:</p>
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    Add the <a class="link" href="@routes.Application.addBookmarklet()">bookmarklet</a> to your bookmarks.
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    Just click on the bookmarklet, When you want to save a website.
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    And later <a class="link" href="@routes.Application.search()">search</a> your added websites using keywords displayed above in your personal keyword cloud.
                </div>
            </div>
        } else {
            @form(routes.Application.searchResult(), 'class -> "form-horizontal formBody") {
                    <!-- Hidden userID Field. -->
                @hidden(contactForm("Id"))
                    <!-- Hidden UserId Field -->
                <input type="hidden"
                name="UserId"
                id="UserId"
                value="@userInfo.getId()">
                    <!-- url -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Search</label>
                    <div class="col-sm-7">
                            <input type="text" class="form-control"
                            name ="queryData"
                            id="queryData"
                            placeholder="Please enter keyword to search.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7">
                        <button id="submit" type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            }
        }
        @if(contactForm.hasErrors){
            <div class="row welcome">
                <br/>
                <div class="col-md-11 col-md-offset-1 alert-alert error text-danger">
                    <p>@{contactForm("queryData").error.map {error => error.messages}}</p>
                </div>
            </div>
        }else {
            @if(isSearchResult) {
                @if(!urlInfo.isEmpty) {
                    <div class="row welcome">
                        <div class="col-md-11 col-md-offset-1">
                            <p>Results</p>
                        </div>
                        <div class="col-md-11 col-md-offset-1">
                            <table class="table table-striped table-bordered">
                            @for(urlInfo <- urlInfo) {
                                <tr>
                                    <td><a class= "resultLink" href="@urlInfo.getUrl" target="_blank">@urlInfo.getUrl()</a></td>
                                </tr>
                            }
                            </table>
                        </div>
                    </div>
                } else {
                    <div class="row welcome">
                        <br/>
                        <div class="col-md-11 col-md-offset-1">
                            <p>Sorry, no entry associated with the entered keyword was found.</p>
                        </div>
                    </div>
                }
            }
        }
    </div>
}