@(page: String, isLoggedIn: Boolean, userInfo: UserInfo)

    @Main(page, isLoggedIn, userInfo) {
        <div class="container-fluid welcome">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <p>Hello @userInfo.getFirstName,</p>
                </div>
                <br/>
                <div class="col-md-9 col-md-offset-3">
                    <p>Welcome to Taggit!</p>
                </div>
                <div class="col-md-9 col-md-offset-3">
                    <p>With Taggit you can save any website you like just with a click.<br/>
                    Here are a few simple guidelines to use taggit effectively.</p>
                </div>
                <div class="col-md-8 col-md-offset-4">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    Add the <a class="link" href="@routes.Application.addBookmarklet()">bookmarklet</a> to your bookmarks.
                </div>
                <div class="col-md-8 col-md-offset-4">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    Just click on the bookmarklet, When you want to save a website.
                </div>
                <div class="col-md-8 col-md-offset-4">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    And later <a class="link" href="@routes.Application.search()">search</a> your website using keywords displayed in your personal keyword cloud.
                </div>
                <div class="col-md-8 col-md-offset-4">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    Or you can take a look at all your links by going to <a class="link" href="@routes.Application.myLinks()">My Links</a>.
                </div>
                <div class="col-md-8 col-md-offset-4">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    Any other query, read our <a class="link" href="@routes.Application.faq()">faqs</a>.
                </div>
                <br/>
                <div class="col-md-9 col-md-offset-3">
                    <p>So without further delay, start using Taggit.</p>
                </div>
            </div>
        </div>
    }





